<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
    <h1>Student</h1>

    <div>
        <a href="/add_student/">添加</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Class Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for row in student_list %}
                <tr>
                    <td>{{ row.sid }}</td>
                    <td>{{ row.studentName }}</td>
                    <td>{{ row.className }}</td>
                    <td>
                        <a href="/del_class/?cid={{ row.id }}">Delete</a> |
                        <a href="/edit_class/?cid={{ row.id }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>